
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/style.css">
  <title>EJS Partials</title>
</head>
<header>
    <nav id="navbar">
        <div class="nav_left">
            <img src="/images/logo.png" alt="">
            <a id="navHomee" class="headBtn" href="/">Home</a>
            
        </div>
        <div class="nav_right">
            <a id="navBlog" class="headBtn" href="/blog">Blog</a>
            <a id="navCat" class="headBtn" href="/category">Category</a>
            <a id="navCon" class="headBtn" href="/contact">Contact</a>

        </div>

    </nav>
</header>
<!-- <main class="container"> -->